@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.authPage{
  background-image: url(/tunnel.jpg);
  background-position: center center;
  background-size: cover;
}